html{
  scroll-behavior: smooth;
}
body{
  background-color:#0D0D2B;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border: none;
  font-family: 'Rubik', sans-serif;
}
.CircleButton{
  height: auto;
  width: auto;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CircleButton .icon{
  color: #3671E9;
  font-size: 1.3rem;
}
button{
  background-color: #3671E9;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-family: "Cormorant Upright", serif;
  color: white;
}
button:hover{
  opacity: 80%;
}
